<div class="right-pane">
  <div class="right-tabs-section text-normal">
    <nav class="tabs navtabs-right cpr-tabs nav" data-group="right">
      <div class="tab-pink-underlay">
        <a class="skills-tab tab-label text-semi tab-indent {{tabs.right.skills.cssClass}}"
           data-action="tab"
           data-group="right"
           data-tab="skills">
          {{localize "CPR.characterSheet.rightPane.skills.title"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="gear-tab tab-label text-semi tab-indent {{tabs.right.gear.cssClass}}"
           data-action="tab"
           data-group="right"
           data-tab="gear">
          {{localize "CPR.global.itemTypes.gear"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="cyberware-tab tab-label text-semi tab-indent {{tabs.right.cyberware.cssClass}}"
           data-action="tab"
           data-group="right"
           data-tab="cyberware">
          {{localize "CPR.characterSheet.rightPane.cyber.title"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="effects-tab tab-label text-semi tab-indent {{tabs.right.effects.cssClass}}"
           data-action="tab"
           data-group="right"
           data-tab="effects">
          {{localize "CPR.characterSheet.rightPane.effects.title"}}
        </a>
      </div>
    </nav>
  </div>
  <div class="right-content-section">
    <div class="tab skills-tab {{tabs.right.skills.cssClass}}" data-group="right" data-tab="skills">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-skills.hbs"}}
    </div>
    <div class="tab gear-tab {{tabs.right.gear.cssClass}}" data-group="right" data-tab="gear">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-gear.hbs"}}
    </div>
    <div class="tab cyberware-tab {{tabs.right.cyberware.cssClass}}" data-group="right" data-tab="cyberware">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-cyberware.hbs"}}
    </div>
    <div class="tab effects-tab {{tabs.right.effects.cssClass}}" data-group="right" data-tab="effects">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-effects.hbs"}}
    </div>
  </div>
</div>
